@model ModelLayer.ViewModels.ProductViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Add To Cart";
}

<h1>Add To Cart</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddedToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <input type="hidden" asp-for="Name" class="form-control" />
                <input type="hidden" asp-for="Description" class="form-control" />
                <input type="hidden" asp-for="Price" class="form-control" />
                <input type="hidden" asp-for="ProductPicture" class="form-control" />
                <input type="hidden" asp-for="IformFileImage" class="form-control" />
            </div>
            <div>@Model.Name</div>
            @if (Model.ProductPicture != null)
            {
                <img style="width:64px;height:64px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProductPicture))">
            }
            <p>@Model.Description</p>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input min=1 asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{
    @inject IHttpContextAccessor HttpContextAccessor
    var defLoc = HttpContextAccessor.HttpContext.Session.GetInt32("_DefaultLocation");
}

<div>
    <a asp-controller="Products" asp-action="Search" asp-route-id="@defLoc">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
